<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.activitymusic">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_treble_clef"
        android:label="Music TTCSCN"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activity.MainActivityMusic"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".Service.MediaPlaybackService" />
        <service
            android:name=".Service.JobSchedulerService"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <receiver android:name=".Receiver.TimerReceiver" />

        <provider
            android:name=".Provider.FavoriteSongsProvider"
            android:authorities="com.android.example.provider.FavoriteSongs"
            android:enabled="true"
            android:exported="true"
            android:readPermission="com.android.example.provider.READ_DATABASE"
            android:writePermission="com.android.example.provider.WRITE_DATABASE" />

    </application>

</manifest>